# не вигружать файли домашніх завдань
*.txt
!lines.txt
!symbols.txt
!banknots.txt
!requirements.txt
*.jpeg
*.png
!HT_21/app/shop/static/shop/*.png
!HT_21/app/shop/static/app/*.png
local_settings.py
# db.sqlite3
*.pyc