# не вигружать файли домашніх завдань
*.txt
!lines.txt
!symbols.txt
!banknots.txt
!requirements.txt
*.jpeg
*.png
!/home/volkar/My_Coding/GeekHub/volodymyr_k_gh21/HT_21/app/shop/static/shop/*.png
local_settings.py
# db.sqlite3
