{% extends "shop/layout.html"%}

{% block main %}
<div class="text-center">
	<h2>Phones from our e-shop</h2><br>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for element in products %}
	<div class="col">

		<div class="card">
			<img src="/static/shop/{{ element.brand }}-{{ element.model }}.png" class="card-img-top" alt="..." />
			<div class="card-body">
				<label for="brand">
					<h5 class="card-title">{{ element.brand }}</h5>
				</label>
				<label for="brand">
					<p class="card-text">{{ element.model }}</p>
				</label>
				<p class="card-text">{{ element.description }}</p>
				<div class="btn-group me-2" role="group">
					{% if username %}
					{% if element.available == "Yes" %}
					<button class="btn btn-primary" type="submit" id="mobile-{{ element.id }}"
						onclick="mainFunction({{ element.id }}, 'mobile')">Add to
						cart</button>
					{% else %}
					<button class="btn btn-secondary disabled" type="submit">Add to cart</button>
					{% endif %}
					{% endif %}
				</div>
				<div class="btn-group me-2" role="group">
					{% if user_tupe %}
					<form method="post" action="editproduct.html">
						{% csrf_token %}
						<input style="display: none;" name="brand" value="{{ element.brand }}">
						<input style="display: none;" name="model" value="{{ element.model }}">
						<input style="display: none;" name="category" value="{{ category }}">
						<button class="btn btn-outline-warning" type="submit" id="edit_product">Edit...</button>
					</form>
					{% endif %}
				</div>
			</div>
			<div class="card-footer">
				{% if element.available == "Yes" %}
				<small class="text-muted" data-name="quantity"><b>
						Product quantity: <p id="quantity-{{ element.id }}">{{ element.quantity }}</p></b></small>
				{% else %}
				<small class="text-muted">Sold out</small>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<script>
	let cart_quantity = 0;
	let product_quantity = 0;
	function mainFunction(id, categoty) {

		// Main block
		var csrfToken = "{{ csrf_token }}";
		var addToCartUrl = "add_to_cart";
		var xmlhttp = new XMLHttpRequest();

		xmlhttp.onreadystatechange = function () {
			if (xmlhttp.readyState !== 4 || xmlhttp.status !== 200) {
			}
			myFunction(this.responseText)
		}

		xmlhttp.open("POST", addToCartUrl);
		xmlhttp.setRequestHeader("Content-Type", "aplication/json; utf-8");
		xmlhttp.setRequestHeader("X-CSRFToken", csrfToken);
		xmlhttp.send(JSON.stringify({ "prod_id": id, "category": categoty }))


		function myFunction(data) {
			unpack_data = JSON.parse(data);
			cart_quantity = unpack_data.cart_quantity;
			product_quantity = unpack_data.product_quantity;
			document.querySelector('#cart_badge').innerHTML = cart_quantity;
			if (product_quantity === 0) {
				document.querySelector('#mobile-' + id).className = "btn btn-secondary disabled";
				document.querySelector('#quantity-' + id).innerHTML = "Sold out";
			} else {
				document.querySelector('#quantity-' + id).innerHTML = product_quantity;
			}
		}
	}
</script>
{% endblock %}