{% extends "shop/layout.html"%}

{% block main %}
<div class="text-center">
	<h2>Phones from our e-shop</h2><br>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for element in products %}
	<div class="col">

		<div class="card">
			<img src="/static/shop/{{ element.brand }}-{{ element.model }}.png" class="card-img-top" alt="..." />
			<div class="card-body">
				<label for="brand">
					<h5 class="card-title">{{ element.brand }}</h5>
				</label>
				<label for="brand">
					<p class="card-text">{{ element.model }}</p>
				</label>
				<p class="card-text">{{ element.description }}</p>
				<div class="btn-group me-2" role="group">
					{% if username %}
					<!-- <form method="post" action="cart.html"> -->
					<form method="post" action="add_to_cart">
						{% csrf_token %}
						<input style="display: none;" name="id" value="{{ element.id }}">
						<input style="display: none;" name="category" value="{{ category }}">
						{% if element.available == "Yes" %}
						<!-- <button class="btn btn-primary" type="submit" id="cart_add">Add to cart</button> -->
						<button class="btn btn-primary" type="submit" id="cart_add">NEW cart</button>
						{% else %}
						<button class="btn btn-secondary disabled" type="submit">Add to cart</button>
						{% endif %}
					</form>
					{% endif %}
				</div>
				<div class="btn-group me-2" role="group">
					{% if user_tupe %}
					<form method="post" action="editproduct.html">
						{% csrf_token %}
						<input style="display: none;" name="brand" value="{{ element.brand }}">
						<input style="display: none;" name="model" value="{{ element.model }}">
						<input style="display: none;" name="category" value="{{ category }}">
						<button class="btn btn-outline-warning" type="submit" id="edit_product">Edit...</button>
					</form>
					{% endif %}
				</div>
			</div>
			<div class="card-footer">
				{% if element.available == "Yes" %}
				<small class="text-muted"><b>Product quantity: {{ element.quantity }}</b></small>
				{% else %}
				<small class="text-muted">Sold out</small>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<script>
	(function () {
		var httpRequest;
		document.getElementById("cart_add").addEventListener('click', makeRequest);
		function makeRequest() {
			httpRequest = new XMLHttpRequest();
			if (!httpRequest) {
				alert('Giving up :( Cannot create an XMLHTTP instance');
				return false;
			}
			httpRequest.onreadystatechange = alertContents;
			httpRequest.open('POST', 'add_to_cart');
			httpRequest.send();
		}
		function alertContents() {
			if (httpRequest.readyState === XMLHttpRequest.DONE) {
				if (httpRequest.status === 200) {
					console.log(this.responseText)
					var response = JSON.parse(this.responseText);
					// 	alert(response.computedString);
					// } else {
					// 	alert('There was a problem with the request.');
					// }
				}
				xmlhttp.send(JSON.stringify({ "quantity": added, "amount": products_quantity }));
			}
		}
	});
</script>
{% endblock %}