{% extends "user_side/layout.html" %}

<!-- Page subtitle -->
{% block title %}
  Правила
{% endblock %}

<!-- Place/block for system messages. -->
{% block popup %}
{% for message in messages %}
<div class="container">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <div class="navbar-brand">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span>
            {%if "general" in message.tags %}
              <h3>{{ message }}</h3>
            {%endif%}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block main %}
<h1 class="text-muted" align="center">Правила і порядок Клубу</h1>
<br>
<p></p>
<p>Учасники змагаються за звання найкращого прогнозиста протягом турніру. <br>
  Він (турнір) складається з певної кількості турів. В одному турі може <br>
  бути один або декілька матчів.</p>
<br>
<br>
<h3>Як зробити прогноз</h3>
<p>Написати свій прогноз в коментарях під постом. Прогнози на матчі приймаються <br>
  ДО (!) початку матчу на який робиться прогноз. Прогноз зроблений після початку <br>
  матчу - не враховується. У випадку стадії плей-оф - прогнози приймаються ЛИШЕ <br>
  на ОСНОВНИЙ ЧАС матчів.</p>
<h3>Які типи прогнозів можна зробити</h3>
<h4>Звичайний прогноз</h4>
<p>Учасник пише матчі і рахунки які він прогнозує. Бали нараховуються за <br>
  результативні прогнози по кожному матчу окремо. Якщо правильно спрогнозовано <br>
  1 матч - бали нарахуються за 1, якщо 3 - за 3 матчі.</p>
<br>
<br>
<h4>Експрес-прогноз</h4>
<p>Учасник може дати експрес-прогноз з декількох матчів в одному турі. Прогноз <br>
  робиться як і в звичайному прогнозі - пишеться рахунок матчів на які учасник <br>
  хоче зробити експрес-прогноз.</p>
<p>Позитивним експрес-прогнозом буде вважатись такий де вгадано ВСІ(!) результати <br>
  матчів (перемога/нічия) в експрес-прогнозі. У випадку, коли хоча б один з матчів<br>
  експресу не "грає" - учасник балів не отримує. Мінімальна кількість матчів в <br>
  експрес-прогнозі - 3.</p>
<p>В разі позитивного експрес-прогнозу набрані бали нараховуються так: <br>
кількість матчів множаться на  коефіцієнт 2 <br>
<br><i>Приклад: позитивний експрес з 3 матчів = 6 балів (3 матчі х2 = 6)</i><br>
<h4>Учасник МОЖЕ дати АБО експрес-прогноз, АБО звичайний.</h4>
<p>В разі якщо учасник пропустив один або декілька матчів, то він НЕ МОЖЕ поставити <br>
  експрес-прогноз на матчі які лишились в турі. Наприклад, учасник  перший матч і в <br>
  нього лишились 5 матчів. В такому разі він може зробити лише звичайний прогноз на <br>
  матчі що лишились.</p>
<br>
<br>
<h3>Як нараховуються бали</h3>
<p>Учасник може отримати бали лише (!) за вгадані:</p>
<table align="center">
  <tr>
    <td align="left"><li>Результат матчу (перемога/нічия) - 1 бал</li></td>
  </tr>
  <tr>
    <td align="left"><li>Точний рахунок матчу - 2 бали</li></td>
  </tr>
</table> 
<p>Якщо учасник дав прогноз на 3 матчі, а вгадав результат/рахунок лише в одному - <br>
  бали отримує лише за цей матч. У випадку коли учасник обрав експрес-прогноз і вгадав <br>
  всі результати в експрес прогнозі - кількість матчів в експресі помножена на 2.</p>
<br>
<br>
<h3>Як визначається підсумкове місце</h3>
<h5>Підсумкове місце учасника на турнірі визначається за кількістю набраних балів.</h5>
<p>Лише у разі однакової кількості набраних балів до уваги беруться показники:</p>
<ol>
  <table align="center">
    <tr>
      <td align="left"><li>Кількість вгаданих рахунків в матчах протягом турніру.</li></td>
    </tr>
    <tr>
      <td align="left"><li>Середня кількість набраних балів за матч.</li></td>
    </tr>
  </table> 
</ol>
<h5>Підсумкове місце команди в командному заліку на турнірі визначається <br>
  за сумою набраних балів усіх учасників команди. </h5>
<p>Лише у разі однакової кількості набраних балів до уваги беруться показники:</p>
<ol>
  <table align="center">
    <tr>
      <td align="left"><li>Кількість вгаданих рахунків усіх учасників команди в матчах протягом турніру</li></td>
    </tr>
    <tr>
      <td align="left"><li>Середня кількість набраних балів за матч усіх учасників команди </li></td>
    </tr>
  </table> 
</ol>
{% endblock %}