{% extends "user_side/layout.html" %}

<!-- Підзаголовок сторінки -->
{% block title %}
Прогноз
{% endblock %}

<!-- Place/block for system messages. -->
{% block popup %}
{% for message in messages %}
<div class="container">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <div class="navbar-brand">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span><b>
              <h3>{{ message }}</h3>
            </b></span>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block main %}
  {% if request.user.is_authenticated  %}
    <h2 class="text-muted" align="center">
      Вітаємо '{{ request.user.username }}' на сайті
    </h2> 
    <h1 class="text-muted" align="center"><b>Клубу любителів прогнозів</b></h1>
    <br>
    <p style="font-size: 20px">Ваша коротка статистика</p>
    <div class="card-deck d-flex justify-content-center">
      {% if user_statistics.user_position == 1 %}
        <div class="card border-success" style="max-width: 18rem;">
          <div class="card-header bg-transparent text-success" style="font-size: 20px"><b>Поточне місце</b></div>
          <div class="card-body text-success">
            <p class="card-text" style="font-size: 40px">{{ user_statistics.user_position }}</p>
          </div>
        </div>
      {% else %}
        <div class="card" style="max-width: 18rem;">
          <div class="card-header bg-transparent" style="font-size: 20px"><b>Поточне місце</b></div>
          <div class="card-body">
            <p class="card-text" style="font-size: 40px">{{ user_statistics.user_position }}</p>
          </div>
        </div>
      {% endif %}
      <div class="card" style="max-width: 18rem;">
        <div class="card-header bg-transparent" style="font-size: 20px"><b>Набрані очки</b></div>
        <div class="card-body">
          <p class="card-text" style="font-size: 40px">{{ user_statistics.user_points }}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="card-deck d-flex justify-content-center">
      <div class="card" style="max-width: 18rem;">
        <div class="card-header bg-transparent" style="font-size: 20px"><b>Досягнення "Гуру Туру"</b></div>
        <div class="card-body">
          <p class="card-text" style="font-size: 40px">{{ user_statistics.user_achive_guru_turu }}</p>
        </div>
      </div>
      <div class="card" style="max-width: 18rem;">
        <div class="card-header bg-transparent" style="font-size: 20px"><b>Cередній бал за матч</b></div>
        <div class="card-body">
          <p class="card-text" style="font-size: 40px">{{ user_statistics.user_average_point_per_match }}</p>
        </div>
      </div>
    </div>
    <br>
    <p>
      Більше інформації в <a href="/user/fintable.html">Підсумковій Таблиці</a>
    </p>
    <br>
    <p style="font-size: 20px">Вперед до прогнозів</p>
    <br>
  {% else %}
    <h2 class="text-muted" align="center">Вітаємо Вас на сайті</h2> 
    <h1 class="text-muted" align="center"><b>Клубу любителів прогнозів</b></h1>
    <br>
    <p style="font-size: 20px">На сайті для Вас доступна можливість:</p>
    <table align="center">
      <tr>
        <td align="left"><li>робити прогноз</li></td>
      </tr>
      <tr>
        <td align="left"><li>переглядати турнірну таблицю</li></td>
      </tr>
      <tr>
        <td align="left"><li>склади учасників інших команд</li></td>
      </tr>
      <tr>
        <td align="left"><li>прогнози інших учасників</li></td>
      </tr>
      <tr>
        <td align="left"><li>власну статистику</li></td>
      </tr>
    </table>
    <br>
    <p style="font-size: 20px">Вперед до прогнозів</p>
    <p style="font-size: 20px">
      <a href="/register">Зареєструйтесь</a>, 
      щоб долучитись до найкращого Клубу у всесвіті.
    </p>
  {% endif %}
{% endblock %}