{% extends "user_side/layout.html" %}

<!-- Підзаголовок сторінки -->
{% block title %}
Прогноз
{% endblock %}

<!-- Place/block for system messages. -->
{% block popup %}
{% for message in messages %}
<div class="container">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <div class="navbar-brand">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span><b>
              <h3>{{ message }}</h3>
            </b></span>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block main %}
  {% if request.user.is_authenticated  %}
    <h2 class="text-muted" align="center">
      Вітаємо '{{ request.user.username }}' на сайті
    </h2> 
    <h1 class="text-muted" align="center"><b>Клубу любителів прогнозів</b></h1>
    <br>
    <p style="font-size: 20px">На сайті для Вас доступна можливість:</p>
    <table align="center">
      <tr>
        <td align="left"><li>робити прогноз</li></td>
      </tr>
      <tr>
        <td align="left"><li>переглядати турнірну таблицю</li></td>
      </tr>
      <tr>
        <td align="left"><li>склади учасників інших команд</li></td>
      </tr>
      <tr>
        <td align="left"><li>прогнози інших учасників</li></td>
      </tr>
      <tr>
        <td align="left"><li>власну статистику</li></td>
      </tr>
    </table>
    <br>
    <br>
    <p style="font-size: 20px">Вперед до прогнозів</p>
    <br>
    <br>
    <p>Поточне місце - {{ user_statistics.user_position }}</p>
    <p>Набрані очки - {{ user_statistics.user_points }}</p>
    <p>чи вагравав гуру туру - {{ user_statistics.user_achive_guru_turu }}</p>
    <p>
      середній бал за матч - {{ user_statistics.user_average_point_per_match }}
    </p>
    <p>
      Більше інформації в <a href="/user/fintable.html">Підсумковій Таблиці</a>
    </p>
  {% else %}
    <h2 class="text-muted" align="center">Вітаємо Вас на сайті</h2> 
    <h1 class="text-muted" align="center"><b>Клубу любителів прогнозів</b></h1>
    <br>
    <br>
    <p style="font-size: 20px">
      <a href="/register">Зареєструйтесь</a>, 
      щоб долучитись до найкращого Клубу у всесвіті.
    </p>
  {% endif %}
{% endblock %}