{% extends "shop/layout.html"%}

{% block popup %}
{% for message in messages %}
<div class="container">
	<div class="alert {{ message.tags }} alert-dismissible" role="alert">
		<div class="navbar-brand">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<span><b>
							<h3>{{ message }}</h3>
						</b></span>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block main %}
<br>
<div class="jumbotron align-middle"">
	<div class=" text-center">
	<h2>Phones</h2><br>
</div>
<div class=" row row-cols-1 row-cols-md-3 g-4">
	{% for element in phone %}
	<div class="col">
		<div class="card">
			<img src="/static/shop/{{ element.brand }}-{{ element.model }}.png" class="card-img-top" alt="..." />
			<div class="card-body">
				<label for="brand">
					<h5 class="card-title">{{ element.brand }}</h5>
				</label>
				<label for="brand">
					<p class="card-text">{{ element.model }}</p>
				</label>
				<p class="card-text">{{ element.description }}</p>
				<div class="btn-group me-2" role="group">
					{% if username %}
					<form method="post" action="shop/cart.html">
						{% csrf_token %}
						<input style="display: none;" name="brand" value="{{ element.brand }}">
						<input style="display: none;" name="model" value="{{ element.model }}">
						<input style="display: none;" name="category" value="mobile">
						<input style="display: none;" name="amount" type="number" value="1">
						{% if element.available == "Yes" %}
						<button class="btn btn-primary" type="submit" id="cart_add">Add to cart</button>
						{% else %}
						<button class="btn btn-secondary disabled" type="submit" id="cart_add">Add to cart</button>
						{% endif %}
					</form>
					{% endif %}
				</div>
			</div>
			<div class="card-footer">
				{% if element.available == "Yes" %}
				<small class="text-muted"><b>Product is available</b></small>
				{% else %}
				<small class="text-muted">Sold out</small>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<br>
<div class="text-center">
	<h2>Laptops</h2><br>
</div>
<div class=" row row-cols-1 row-cols-md-3 g-4">
	{% for element in computers %}
	<div class="col">
		<div class="card">
			<img src="/static/shop/{{ element.brand }}-{{ element.model }}.png" class="card-img-top" alt="..." />
			<div class="card-body">
				<label for="brand">
					<h5 class="card-title">{{ element.brand }}</h5>
				</label>
				<label for="brand">
					<p class="card-text">{{ element.model }}</p>
				</label>
				<p class="card-text">{{ element.description }}</p>
				<div class="btn-group me-2" role="group">
					{% if username %}
					<form method="post" action="shop/cart.html">
						{% csrf_token %}
						<input style="display: none;" name="brand" value="{{ element.brand }}">
						<input style="display: none;" name="model" value="{{ element.model }}">
						<input style="display: none;" name="category" value="pc">
						<input style="display: none;" name="amount" type="number" value="1">
						{% if element.available == "Yes" %}
						<button class="btn btn-primary" type="submit" id="cart_add">Add to cart</button>
						{% else %}
						<button class="btn btn-secondary disabled" type="submit" id="cart_add">Add to cart</button>
						{% endif %}
					</form>
					{% endif %}
				</div>
			</div>
			<div class="card-footer">
				{% if element.available == "Yes" %}
				<small class="text-muted"><b>Product is available</b></small>
				{% else %}
				<small class="text-muted">Sold out</small>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<br>
<div class="text-center">
	<h2>TV's</h2><br>
</div>
<div class=" row row-cols-1 row-cols-md-3 g-4">
	{% for element in television %}
	<div class="col">
		<div class="card">
			<img src="/static/shop/{{ element.brand }}-{{ element.model }}.png" class="card-img-top" alt="..." />
			<div class="card-body">
				<label for="brand">
					<h5 class="card-title">{{ element.brand }}</h5>
				</label>
				<label for="brand">
					<p class="card-text">{{ element.model }}</p>
				</label>
				<p class="card-text">{{ element.description }}</p>
				<div class="btn-group me-2" role="group">
					{% if username %}
					<form method="post" action="shop/cart.html">
						{% csrf_token %}
						<input style="display: none;" name="brand" value="{{ element.brand }}">
						<input style="display: none;" name="model" value="{{ element.model }}">
						<input style="display: none;" name="category" value="tv">
						<input style="display: none;" name="amount" type="number" value="1">
						{% if element.available == "Yes" %}
						<button class="btn btn-primary" type="submit" id="cart_add">Add to cart</button>
						{% else %}
						<button class="btn btn-secondary disabled" type="submit" id="cart_add">Add to cart</button>
						{% endif %}
					</form>
					{% endif %}
				</div>
			</div>
			<div class="card-footer">
				{% if element.available == "Yes" %}
				<small class="text-muted"><b>Product is available</b></small>
				{% else %}
				<small class="text-muted">Sold out</small>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
</div>
{% endblock %}