{# templates/admin/custom_page.html #}

{% extends 'admin/base_site.html' %}

{% block pagination %}{% endblock %}
{% block filters %}{% endblock filters %}
{% block object-tools %}{% endblock object-tools %}
{% block search %}{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  {% if page_name %} &rsaquo; {{ page_name }}{% endif %}
</div>
{% endblock %}

{% block result_list %}
{{text}}
{% endblock result_list %}
{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=ccc show_changelinks=True %}
</div>
<h2>Gthtksr</h2>
<table>
<br>
<tr>
  <div align="center">
    {% for element in rounds_and_forecast_availability %}
    <td>
      <div class="btn-group" role="toolbar" aria-label="Toolbar with button groups" >
        {% if element.forecast_availability == 'no' %}
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-success" style="width:100px" disabled>{{ element.round_number }}</button>
          </div>
    </td>
    <td>
        {% elif element.forecast_availability == 'yes' %}
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-success" style="width:120px"><b>Тур #{{ element.round_number }}</b></button>
          </div>
        </td>
        <td>
        {% else %}
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-outline-secondary" style="width:100px">{{ element.round_numder }}</button>
          </div>
        {% endif %}
      </div>
    <td>
    {% endfor %}
  </div>
</tr>
</table>
<br>
<form method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td></td>
      <td>{{ form.rounds_list }}</td>
      <td><button 
        class="btn btn-warning" 
        name="open_close_round"
        value={{ form.rounds_list.value }}
        type="submit">Відкрити</button></td>
    </tr>
  </table>
</form>
<br>
<form method="post">
  {% csrf_token %}
    <tr>
      <td><button 
        class="btn btn-warning" 
        name="calculate_points"
        value={{ calculate_points.start_process.value }}
        type="submit">Ручний запуск обрахунку балів</button></td>
    </tr>
  </table>
</form>
<br>
<form method="post">
  {% csrf_token %}
    <tr>
      <td><button 
        class="btn btn-warning" 
        name="looking_matches_score"
        value={{ looking_matches_score.start_process.value }}
        type="submit">Ручний запуск пошуку рахунків матчів</button></td>
    </tr>
  </table>
</form>
<br>
<form method="post">
  {% csrf_token %}
    <tr>
      <td><button 
        class="btn btn-warning" 
        name="clean_fintable"
        value={{ calculate_points.clean_fintable.value }}
        type="submit">Clean fintable</button></td>
    </tr>
  </table>
</form>
<br>
{% endblock %}
