{% extends "user_side/layout.html" %}

<!-- Page subtitle -->
{% block title %}
CustomPage
{% endblock %}

<!-- Place/block for system messages -->
{% block popup %}
{% for message in messages %}
<div class="container">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <div class="navbar-brand">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span><b>
              <h3 style="text-align:center">{{ message }}</h3>
            </b></span>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

<!-- Block for main information on the page -->
{% block main %}
<h>Заглушка для костома</h>
{% endblock %}